/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.space-y-4 > * + * {
  @apply mt-4;
}

.pt-notch {
  padding-top: env(safe-area-inset-top);
}

.p-ios {
}

.notch {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#__next {
  padding-bottom: env(safe-area-inset-bottom);
}
